<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Linkchecker (тестовое задание)</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href="/" class="navbar-brand">
        <img src="pics/logo.png" width="52" height="52" alt="logo">
        RESPROJECTS.RU
    </a>
</nav>

<div class="container-fluid p-0">
    <div class="container">

        <h1>Linkchecker (тестовое задание)</h1>

        <h2>Оригинальный текст задания</h2>

        <p>Разработать REST-сервис, проверяющий работоспособность любой последовательности узлов.
            Каждый узел имеет уникальное имя, вероятность, с которой откажет при обращении к нему, и счетчик успешно выполненных запросов.</p>

        <p>Сервис должен реализовывать два POST-метода:</p>

        <ol>
            <li><b>setNodes</b> - устанавливает граф из узлов, описанных выше. Формат входных данных - JSON. Программа должна исключать циклические связи узлов.</li>
            <li><b>checkRoute</b> - принимает набор вершин (или их идентификаторов) в формате JSON и проходит по этим вершинам, проверяя на каждом пройденном узле, не отказал ли он. Если путь существует в графе и ни один из узлов пути не отказал, следует увеличить счетчик в каждом из узлов пути. В противном случае отображать ошибку в ответе POST-метода (произвольный формат).</li>
            <li>Узлы и связи должны храниться в базе данных.</li>
        </ol>

        <h2>Изменённый вариант задания</h2>

        <p>После введённых корректировок, итоговый вид тестового задания выглядит следующим образом:</p>

        <p>Разработать REST-сервис, проверяющий работоспособность любой последовательности узлов.</p>

        <ol>
            <li>Каждый узел имеет уникальное имя и счетчик успешно выполненных запросов, так же для хранения в базе данных есть уникальный идентификатор, который присваивается автоматически при записи в БД. Был исключен элемент вероятность отказа узла. Этот параметр перестал быть нужным, так как вероятность отказа узла стала случайным фактором, возникающая автоматически, во время проверки последовательности узлов.</li>
            <li>Граф в программе неориентированный, т.е. вершины графа связаны друг с другом рёбрами, не имеющими направления. В базе данных, хранение графа осуществляется в двух таблицах. В одной таблице осуществляется хранение набора узлов графа, в другой набор рёбер графа. Более подробно смотрите запись в wiki <a href="https://gitlab.com/Aleksandrov/linkchecker/wikis/%D0%9E%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85">План работы</a></li>
            <li>Программа позволяет делать следующее:
                <ol>
                    <li>Работать с графом обобщённо:
                        <ol>
                            <li>Создавать новый граф (при этом информация о прежнем графе будет удалена с БД)</li>
                            <li>Извлекать информацию о графе в заданном формате</li>
                            <li>Удалять целиком весь граф</li>
                            <li>Проверять работоспособность заданной последовательности узлов (по условию задачи) выполнив соответствующий запрос.</li>
                        </ol>
                    </li>
                    <li>Работать с узлами и ребрами по отдельности, т.е. добавлять, удалять, искать информацию по заданным параметрам. Ручное изменение какой-либо информации о узле и ребре не предусмотрена, т.е. возможно либо добавления узла или ребра в БД или удаление из БД)</li>
                </ol>
            </li>
        </ol>

        <p>Так как по условию задания, граф должен исключить все виды циклов (т.е. граф должен быть ациклическим), то при любом запросе информации о графе целиком или же при проверки набора заданных узлов будет происходить автоматический поиск и удаление циклов из графа. Удаление циклов происходит при помощи удаления набора рёбер, создающие циклы. Поэтому в случае обнаружения циклов в графе, исходный набор рёбер будет отличаться от набора рёбер хранящихся в БД.</p>

        <p>Автоматический поиск и удаление циклов не срабатывает, если происходит работа только с набором данных рёбер графа в отдельности, т.е. можно добавлять в базу рёбра, образующие циклы.</p>

        <p><b>Используемый стек</b> : <b>Spring Boot</b>, <b>Spring Data</b>, <b>ORM (Hibernate)</b>, <a href="https://jgrapht.org/"><b>JGraphT</b></a> : (для работы с графом), <b>GSON</b> (используется вместо используемого по умолчанию Jackson для работы с json),
            <b>Thymeleaf</b> и <b>Bootstrap</b> (используется для формирования стартовой информационной страницы), <b>Mockito</b> (идёт вместе с Spring Boot),
            <b>Powermock</b> (подключается отдельной библиотекой, используется в дополнении к mockito для тестов)</p>

        <b>Хранилище данных</b> : PostgeSQL (для production), H2 (для тестов)
    </div>
</div>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>